body {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container-2 {
  width: 80%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  margin: 0.625rem;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  padding: 1em;
}

#fixed-nav {
  z-index: 1;
  background-color: #fff;
  width: 100vw;
}

h1 {
  font-family: "Mrs Sheppards", cursive;
  font-size: 3.75rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: "Mrs Sheppards", cursive;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 0;
}

p {
  line-height: 1.33rem;
}

i {
  padding: 0.2rem;
}

a {
  color: #222222;
  font-weight: 600;
  text-decoration: none;
}

a:link {
  color: #222222;
  font-weight: 600;
}

a:hover {
  color: #FF1493;
}

a:active {
  color: #FF8C00;
}

a:visited {
  font-weight: 600;
}

.link:before {
    display: block;
    content: "";
    height: 80px;
    margin: -80px 0 0;
}

.screenshot {
  max-width: 35rem;
  transition: opacity 0.33s ease;
  border: 1px solid #eee;
}

.screenshot:hover {
  opacity: 0.8;
}

hr {
  visibility: hidden;
}

#desktop-header {
  display: inline-flex;
}

#phone-header {
  display: none;
}

/* mobile styles */
@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 5rem;
    padding: 0;
    margin: 2rem 0 0 0;
  }

  h4 {
    font-size: 1.5rem;
  }

  #nav-links li {
    font-size: 2rem;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
  }

  #fixed-nav {
    font-size: 2rem;
  }

  #desktop-header {
    display: none;
  }

  #phone-header {
    font-size: 3rem;
    display: inline-flex;
  }

  .container {
    width: 90%;
  }

  .screenshot {
    width: 100%;
  }

  .fa-lg {
    font-size: 2.5rem !important;
  }

  p {
    font-size: 1.2rem;
  }
}

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px) 
  and (orientation: landscape) {

  html {
    font-size: 18px;
  }

  #nav-links li {
    font-size: 1.1rem;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
  }

  #fixed-nav {
    font-size: 1rem;
  }

  #desktop-header {
    display: none;
  }

  #phone-header {
    font-size: 2rem;
    display: inline-flex;
  }

  .screenshot {
    width: 100%;
  }
}