body {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container-2 {
  width: 80%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  margin: 0.625rem;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  padding: 1em;
}

#fixed-nav {
  z-index: 1;
  background-color: #fff;
  width: 100vw;
}

.hide-nav {
  display: none;
}

h1 {
  font-family: "Mrs Sheppards", cursive;
  font-size: 3.75rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: "Mrs Sheppards", cursive;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 0;
}

p {
  line-height: 1.33rem;
}

i {
  padding: 0.2rem;
}

a {
  color: #222222;
  font-weight: 600;
  text-decoration: none;
}

a:link {
  color: #222222;
  font-weight: 600;
}

a:hover {
  color: deeppink;
}

a:active {
  color: coral;
}

a:visited {
  font-weight: 600;
}

.link:before {
    display: block;
    content: " ";
    height: 80px;
    margin: -80px 0 0;
}

.screenshot {
  max-width: 36rem;
  transition: opacity 0.33s ease;
  border: 1px solid #eee;
}

.screenshot:hover {
  opacity: 0.8;
}

hr {
  visibility: hidden;
}

/* mobile styles */
@media and (min-device-width: 320px) and (max-device-width: 668px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  nav {
    font-size: 1.75rem;
  }

  .container {
    width: 90%;
  }

  .screenshot {
    max-width: 50rem;
  }

  hr {
    margin-bottom: 1.1rem;
  }

  .fa-lg {
    font-size: 2.5rem !important;
  }
}