body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container-2 {
  width: 80%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  margin: 10px;
  padding: 0px;
  list-style-type: none;
}

nav ul li {
  padding: 1em;
}

h1 {
  font-family: "Mrs Sheppards", cursive;
  font-size: 60px;
  letter-spacing: 0.12em;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
}

p {
  line-height: 20px;
}

i {
  padding: 0.2em;
}

a {
  color: #222222;
  font-weight: 600;
  text-decoration: none;
}

a:link {
  color: #222222;
  font-weight: 600;
}

a:hover {
  color: red;
}

a:active {
  color: deeppink;
}

a:visited {
  font-weight: 600;
}

.small-heart {
  height: 25px;
}

.screenshot {
  max-width: 500px;
}

hr {
  visibility: hidden;
}

/* mobile styles */
@media (min-device-width: 320px) and (max-device-width: 666px) {
  h1 {
    font-size: 90px;
  }

  nav {
    font-size: 28px;
  }

  .container {
    width: 90%;
  }

  .screenshot {
    max-width: 850px;
  }

  hr {
    margin-bottom: 15px;
  }
}